/**
 * All of the CSS for your public-facing functionality should be
 * included in this file.
 */

/* date 21-11-19 */

.woocommerce div.product form.cart .button {
  float: none !important;
}

#pincode_field_idp .woocommerce form #pincode_field_idp.form-row textarea {
  border-width: 0 0 2px;
  border-color: #000;
}

#pincode_field_idp input[type="text"] {
  background: transparent;
  padding: 10px 10px 5px 0px;
  width: 78.5%;
  font-size: 15px;
}
.wpc_shortcode #pincode_field_idp input[type="text"] {
  border: none;
  margin: 0;
  padding: 0 10px;
  padding-left: 25px;
}

.wc-delivery-time-response p {
  line-height: 1.5;
  margin: 0;
  font-size: 18px;
  font-weight: 600;
}

.entry-content .delivery-info h6,
.delivery-info h6 {
  margin: 0;
  display: inline-block;
}

.delivery-info ul,
ol {
  margin: 0;
  list-style: none;
  padding: 0px;
  margin-left: 0px !important;
}

.delivery-info ul li {
  line-height: 1.5;
  margin: 0;
  font-size: 15px;
  font-weight: 600;
}

.delivery-info .cash_on_delivery {
  font-size: 14px;
  padding-top: 0;
  font-weight: 600;
}

.wc-delivery-time-response {
  padding-bottom: 15px;
}

div#my_custom_checkout_field,
.wc-delivery-time-response {
  background: #f6f6f9;
  padding: 15px;
  margin: 15px 0;
  border: 1px solid #e9e9e9;
  border-radius: 6px;
}
p#pincode_field_idp {
  margin: 0;
  border-radius: 6px;
  background: #fff;
  display: flex;
  position: relative;
  justify-content: space-between;
  padding: 5px;
  border: 1px solid #eee;
}
#pincode_field_idp::before {
  position: absolute;
  background: url(../image/map-marker-alt.svg) no-repeat;
  width: 16px;
  height: 16px;
  left: 10px;
  top: 17px;
  content: "";
}
form #pincode_field_idp.form-row input.input-text {
  border: none;
  margin: 0;
  padding: 0 10px;
  padding-left: 25px;
}
a#checkpin.button.wpc-check-button {
  display: block;
  width: 20%;
  font-weight: 600;
  text-transform: uppercase;
  font-size: 15px;
  text-align: center;
  border-radius: 5px;
  margin: 0 !important;
  padding: 8px 10px;
  line-height: 1.5;
  cursor: pointer;
}
div#error_pin {
  color: red;
  padding: 10px;
  background: #fff;
  margin: 0 0 10px;
  font-weight: bold;
  border: 2px dotted #ddd;
  line-height: 1;
}

.wc-delivery-time-response a#change_pin {
  border-radius: 5px;
  text-align: center;
  font-size: 15px;
  margin: 5px 0;
  cursor: pointer;
  display: inline-block;
  padding: 12px 30px;
}
.wpc_delivery-info-wrap .wpc-delivery-info .header {
  padding-top: 5px;
  align-items: center;
}
.wpc_delivery-info-wrap .wpc-delivery-info h6 {
  margin: 0;
  font-size: 14px;
  margin-right: 5px;
  color: #6e6e6e;
  line-height: 16px;
}
.wpc-delivery-info .wpc-delivery-info-list {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  width: 100%;
  line-height: 1.3;
}
.wpc-delivery-info .wpc-delivery-info-list img {
  width: 30px;
  margin-right: 15px;
}
.wpc-delivery-info .wpc-delivery-date strong {
  display: block;
  line-height: 1.3;
  font-size: 16px;
}
.wpc-delivery-info h4 {
  margin: 0 0 2px;
  color: #57c13d;
  font-size: 15px;
}
.wpc_delivery-info-wrap {
  padding: 10px 15px 15px;
  background: #fff;
  margin: 10px 0;
  border: 2px dotted #ddd;
}
.wc-delivery-time-response.wpc_after_add_to_cart_quantity {
  display: inline-block;
  /* margin-top: 0; */
  width: 100%;
}
.wc-delivery-time-response.wpc_after_add_to_cart_quantity
  a#checkpin.button.wpc-check-button {
  padding: 8px 20px;
  width: auto;
}

.wpc-delivery-date {
  display: flex;
  margin: 5px 0 15px;
  align-items: center;
}
.wpc-delivery-checked {
  width: 22px;
  height: 22px;
  border-radius: 100px;
  margin-right: 15px;
  background: #57c13d;
  padding: 6px;
}
.wpc-delivery-checked img {
  margin-right: 0;
  filter: brightness(0) invert(1);
}
.wpc-delivery-info .wpc_cash_delivery strong {
  display: block;
  line-height: 1.3;
  font-size: 16px;
}
.wc-delivery-time-response.wpc_shortcode {
  padding: 20px;
}
@media only screen and (max-width: 640px) {
  .wpc_delivery-info-wrap .delivery-info .header {
    display: block;
  }
  .wpc-delivery-info .wpc-delivery-info-list {
    margin: 5px 0;
  }
  a#checkpin.button.wpc-check-button,
  .wc-delivery-time-response a#change_pin {
    width: auto;
  }
  .wpc-delivery-info .wpc-delivery-date strong {
    font-size: 15px;
  }
}
